@import "../../scss/var";
.mainWrap {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .topDiv {
    display: flex;
    gap: 215px;
    align-items: center;
    border: 1px solid gray;
    margin: 20px 50px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    box-shadow: 0px 1px 10px 5px $secondary-color;
    border: 1.8px solid $secondary-color;
    span {
      font-size: 20px;
    }
    input {
      width: 300px;
      font-size: 18px;
      padding: 3px 3px 3px 5px;
      border: 1.8px solid $secondary-color;
      border-radius: 5px;
    }
    button {
      background-color: $primary-color;
      color: white;
      padding: 5px 15px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
  }
  .bottomDiv {
    width: fit-content;
    border: 1px solid gray;
    margin: 20px 50px;
    padding: 10px 20px;
    border-radius: 15px;
    box-shadow: 0px 1px 10px 5px $secondary-color;
    border: 1.8px solid $secondary-color;

    table {
      border-collapse: separate;
      border-spacing: 5em 1em;
    }
    .editUser {
      background-color: $primary-color;
      color: white;
      padding: 5px 15px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
    .deleteUser {
      margin-left: 10px;
      background-color: rgb(208, 9, 9);
      color: white;
      padding: 5px 15px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}
.fieldWrap {
  margin-bottom: 10px;
  .fieldName {
    font-size: 18px;
  }
  input {
    margin-top: 2px;
    width: 90%;
    font-size: 18px;
    padding: 3px 3px 3px 5px;
    border: 1.8px solid $secondary-color;
    border-radius: 5px;
  }
}

.submitBtn {
  background-color: $primary-color;
  color: white;
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.error {
  color: red;
  padding-left: 3px;
}
